<div class="row">
  <div class="col-lg-6 col-lg-offset-3 well">
    <h3 class="text-center">ABOUT EMBERIZO</h3>
    <hr>
    <h3>What?</h3>
    <p>
    <b>Emberizo</b> is a social network created <I>by</i> progressives, <i>for</I> progressives. 
    </p>
    <br>
    <h3>Why?</h3>
    <p>
      Far too many of us have been marginalized on the other social media networks, belittled for our belief that we can change the world, and that it doesn't have to be done one baby step at a time. We want to focus on how we can do that in spite of those who don't believe it can be done.
    </p>
    <br>
    <p>
    Or to put it another way, we are all about the political revolution.
    </p>
    <br>
    <h3>How?</h3>
    <p>
    We started with <%= link_to "Socify", "https://github.com/sudharti/socify" %>, an open source application written by Sudharsanan Muralidharan. Given that Sudharti chose to license Socify under the GNU General Public License, we are happily licensing Emberizo under those same terms. All the changes we're making to emberizify the site will be licensed under the GPL as well - that's how the GPL works. (For more information on how the GNU General Public License works, visit <%= link_to "The Free Software Foundation", "http://www.fsf.org" %>.
    </p>
    <br>
    <p>
    Emberizo is written in Ruby on Rails, with some portions in Javascript. It uses Twitter Bootstrap, Devise, Simple Form and . . . ZZZZZZzzzzz mmmrf oh, sorry. If any of that makes sense to you and you're interested in helping out, drop us a line!
    </p>
    <br>
  </div>
</div>
