<div class="row">
  <div id="newsfeed" class="col-lg-6">
    <h4><%= fa_icon "newspaper-o" %> NEWSFEED</h4>
    <div id="activities">
      <% if @activities.empty? %>
        <div class="well">
          <%= render('shared/no_resource', resources: 'Activities') %>
        </div>
      <% else %>
        <%= render_activities(@activities, layout: '/shared/activity') %>
      <% end %>
    </div>
    <%= render 'shared/paginate', resources: @activities %>
  </div>
  <div id="intro" class="col-lg-6">
    <h1>Welcome to Emberizo</h1>
    <p>Tired of Facebook, Twitter and the rest? Want to get away from the trolls and fake progressives? Looking for a social network built <em>by</em> progressive, <em>for</em> progressives?</p>
    <p><strong>You've come to the right place.</strong></p>
    <p><strong>Emberizo</strong> is a refuge from the storm. A place where you can associate with like-minded liberals. A haven where you won't be told you're crazy for believing that a better world is not only possible, it's within our grasp. Sound good? Create an account and come join us.</p>
  </div>
</div>